.check-box-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 0.5;

  .check-box {
    margin-right: 6px;
    cursor: pointer;

  }
  .check-box-text {
    font-size: 15px;
    color: #424242;
  }
}